*{
    margin: 10px;
    font-family: sans-serif;
}
.navbar .logo{
    font-weight: bolder;
    font-size: x-large;
    color: #4e47ff;
}


.sign-up{
    background-color: #4e47ff;
    padding: 10px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    text-align: right;
}